<div th:fragment="header">
    <div class="sidebar" id="sidebar">
        <div class="logo-contenedor">
            <img th:src="@{/img/logoApli.svg}" alt="Scout Management" class="logo">
        </div>

        <div class="perfil-contenedor">
            <img th:src="@{/img/perfil.svg}" alt="Perfil" class="perfil">
            <div class="perfil-info">
                <p class="nombre-perfil"
                   th:text="${persona.primerNombre + ' ' + persona.segundoNombre + ' ' + persona.primerApellido}">Nombre por
                    defecto</p>
                <p class="cargo-perfil"
                   th:text="${persona.getUserEntity().getRoles().iterator().next().getRole().name() + ' - ' + persona.getCargo().getLabel()}"
                >Nombre por defecto</p>
            </div>
            <div class="perfil-flecha">
                <img class="flecha-perfil" th:src="@{/img/flechita.svg}" alt="Desplegar">
            </div>

            <!-- Menú desplegable del perfil -->
            <div class="perfil-menu" id="perfilMenu">
                <ul>
                    <li class="nav-link">
                        <img th:src="@{/img/sesion.svg}" alt="Ver Perfil" class="perfil-menu-icon">
                        <span>Ver Perfil</span>
                    </li>
                    <li class="nav-link">
                        <img th:src="@{/img/cierreSesion.svg}" alt="Cerrar Sesión" class="perfil-menu-icon">
                        <a class="cerrar-sesion" th:href="@{/cerrar}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="linea-divisoria"></div>

        <div class="contenido-central">
            <nav class="menu">
                <ul>
                    <li class="menu-item">
                        <div class="main-button nav-link">
                            <img th:src="@{/img/Casa.svg}" alt="Inicio">
                            <a th:href="@{/home-admin}">Inicio</a>
                        </div>
                    </li>

                    <li class="menu-item">
                        <div class="main-button">
                            <img th:src="@{/img/Calendario.svg}" alt="Actividades">
                            <span>Actividades</span>
                            <img th:src="@{/img/flechita.svg}" alt="Flecha" class="arrow-img"
                                 style="width: 15px; height: 15px;">
                        </div>
                        <ul class="submenu">
                            <li class="nav-link">
                                <a th:href="@{/actividades}">
                                    <img th:src="@{/img/calendario(consulta).svg}" alt="Consultar" class="submenu-icon">Consultar
                                    Actividades
                                </a>
                            </li>
                            <li class="nav-link">
                                <a th:href="@{/actividades/crear}">
                                    <img th:src="@{/img/calendario(agregar).svg}" alt="Agregar" class="submenu-icon">Crear
                                    Actividad
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <div class="main-button">
                            <img th:src="@{/img/grafico.svg}" alt="Progresiones">
                            <span>Progresiones</span>
                            <img th:src="@{/img/flechita.svg}" alt="Flecha" class="arrow-img"
                                 style="width: 15px; height: 15px;">
                        </div>
                        <ul class="submenu">
                            <li class="nav-link">
                                <a th:href="@{/progresiones}">
                                    <img th:src="@{/img/retos.svg}" alt="Consultar" class="submenu-icon">Gestionar Retos
                                </a>
                            </li>
                            <li class="nav-link"><img th:src="@{/img/retos(miembros).svg}" alt="Agregar"
                                                      class="submenu-icon">Progresion Miembros
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <div class="main-button">
                            <img th:src="@{/img/usuarios.svg}" alt="Miembros">
                            <span>Miembros</span>
                            <img th:src="@{/img/flechita.svg}" alt="Flecha" class="arrow-img"
                                 style="width: 15px; height: 15px;">
                        </div>
                        <ul class="submenu">
                            <li class="nav-link">
                                <a th:href="@{/miembros}">
                                    <img th:src="@{/img/usuario(buscar).svg}" alt="Consultar"
                                         class="submenu-icon">Consultar Miembros
                                </a>
                            </li>
                            <li class="nav-link">
                                <a th:href="@{/miembros/jefes}">
                                    <img th:src="@{/img/usuario(consulJefe).svg}" alt="Agregar"
                                         class="submenu-icon">Consultar Jefes
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="linea-divisoria"></div>

        <div class="configuracion nav-link">
            <img th:src="@{/img/tuerca.svg}" alt="Configuración">
            <span>Configuración de Cuenta</span>
        </div>
    </div>
</div>


<!--Footer-->
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-logo">
                    <img th:src="@{/img/logo605.png}" alt="Scouts Jaguares 605" class="logo-img">
                </div>

                <div class="footer-info">
                    <div class="footer-title">
                        <div class="dot"></div>
                        <h2>Scouts Jaguares 605</h2>
                    </div>
                    <p class="footer-slogan">Listos para servir, listos para rugir.</p>

                    <div class="footer-address">
                        <img th:src="@{/img/ubicacion.svg}" alt="Ubicación" class="ubicacion-icon">
                        <p class="footer-ubi">Palmira, Valle del Cauca – Barrio Las Delicias<br>
                            Sede: Casa de la Juventud, Calle 30 #29-15</p>
                    </div>
                </div>

                <div class="footer-social">
                    <a href="#" class="social-icon">
                        <img th:src="@{/img/facebook.svg}" alt="Facebook">
                    </a>
                    <a href="#" class="social-icon">
                        <img th:src="@{/img/instagram.svg}" alt="Instagram">
                    </a>
                    <a href="#" class="social-icon">
                        <img th:src="@{/img/tiktok.svg}" alt="TikTok">
                    </a>
                </div>
            </div>

            <div class="footer-bottom">
                <nav class="footer-nav">
                    <a href="#" class="footer-link">Inicio</a>
                    <a href="#" class="footer-link">Política de Tratamiento de Datos</a>
                    <a href="#" class="footer-link">Configuración</a>
                </nav>
                <p class="footer-copyright">© 2025 Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
</div>