<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style/login.css}">
    <link rel="stylesheet" th:href="@{/style/notification.css}">
    <script th:src="@{/js/notification.js}"></script>
</head>
<body>
    <div class="contenedor__logo">
        <img class="logo" th:src="@{/img/Logo605.png}" alt="Logo Jaguares 605">
    </div>
    <div class="contenedor__formulario">
        <div class="contenedor__formulario__head">
            <img th:src="@{/img/Frame.png}" alt="icono cuadrados">
            <h1>¡Bienvenido!</h1>
            <p class="text-inicia">Inicia sesión con tu cuenta</p>
        </div>
        <form th:action="@{/acceder}" method="post">
            <div th:if="${error}" class="error-message">
                <p class="text-error" th:text="${error}"></p>
            </div>
            <label>Correo Electrónico</label>
            <input class="input" type="email" name="username" required>
            <label>Contraseña</label>
            <input class="input" type="password" name="password" required minlength="4" maxlength="15">
            <a>¿Olvidaste tu contraseña?</a>
            <button class="boton-ingresar" type="submit">Inicia Sesión</button>
        </form>
    </div>
    <div id="notifications"></div>
    <script th:if="${message != null}">
        window.onload = function (){
            showSimpleNotification("[[${message}]]", "[[${type}]]");
        }

    </script>
</body>
</html>