<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <title>Correo de bienvenida</title>
</head>
<body style="margin: 0; padding: 0; font-family: Figtree, sans-serif; color: #333333 !important; background-color: #f7f7f7;">
  <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td style="padding: 20px 0;">
        <table align="center" role="presentation" width="600" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff; margin: 0 auto; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);">
          <!-- Header -->
          <tr>
            <td style="background-color: #622599; padding: 30px; text-align: center; border-radius: 8px 8px 0 0;">
              <h1 style="color: #ffffff; margin: 0; font-size: 24px;">Bienvenido a Scout Management</h1>
            </td>
          </tr>
          
          <!-- Content -->
          <tr>
            <td style="padding: 30px;">
              <p style="margin-top: 0; font-size: 16px; color: #333333 !important;">Hola estimado(a) usuario</p>
              
              <p style="font-size: 16px; line-height: 1.5;color: #333333 !important;">¡Te damos la bienvenida! Se ha creado una cuenta para ti en nuestro sistema. Para acceder por primera vez, utiliza la siguiente contraseña temporal:</p>
              
              <div style="background-color: #f5f5f5; border-left: 4px solid #622599; padding: 15px; margin: 25px 0;">
                <p style="margin: 0; font-size: 16px; font-weight: bold;">Tu Contraseña Temporal</p>
                <p style="margin: 10px 0 0; font-family: 'Courier New', Courier, monospace; font-size: 18px; font-weight: bold;" th:text="${passwordTemporal}">contraseña-temporal</p>
              </div>
              
              <p style="font-size: 16px; line-height: 1.5;color: #333333 !important;">Para iniciar sesión en tu cuenta, por favor sigue estos pasos:</p>
              
              <ol style="font-size: 16px; line-height: 1.5; margin-bottom: 25px;">
                <li style="color: #333333 !important;">
                  Ingresa a
                  <a th:href="${loginUrl}" style="color: #4759cf; text-decoration: underline;">[[${loginUrl}]]</a>

                </li>
                <li style="color: #333333 !important;">Ingresa tu dirección de correo electrónico </li>
                <li style="color: #333333 !important;">Ingresa la contraseña temporal proporcionada anteriormente</li>
                <li style="color: #333333 !important;">Sigue las instrucciones para establecer una contraseña nueva y segura.</li>
              </ol>
              
              <p style="font-size: 16px; line-height: 1.5; color: #333333 !important;"><strong style="color: #333333 !important;">Importante:</strong> Por tu seguridad, te recomendamos mucho que cambies tu contraseña después de iniciar sesión por primera vez.</p>
              
              <div style="margin: 30px 0; text-align: center;">
                <a th:href="${loginUrl}"
                   style="background-color: #424243; color: #ffffff; padding: 12px 30px; text-decoration: none; border-radius: 4px; font-weight: bold; display: inline-block;">
                  Ingresa Aquí
                </a>
              </div>
  
              <p style="font-size: 16px; margin-bottom: 0;color: #333333 !important;">Atentamente,<br>El Equipo Scout Jaguares 605</p>
            </td>
          </tr>
          
          <!-- Footer -->
          <tr>
            <td style="background-color: #f5f5f5; padding: 20px; text-align: center; font-size: 14px; color: #666666; border-radius: 0 0 8px 8px;">
              <p style="margin: 0;">&copy; 2025 Jaguares 605 - Todos los derechos reservados.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>